* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body {
    display: flex;
}
.sidebar {
    width: 200px;
    background: #003366;
    color: white;
    padding: 20px;
}
ul {
    list-style: none;
}

li {
    margin: 15px 0;
    cursor: pointer;
}
.main {
    flex: 1;
    padding: 20px;
}
h1, h2, h3 {
    color: #003366;
}
.summary {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.card {
    border: 2px solid #003366;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
}
.card p {
    font-size: 18px;
    margin-top: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
tr:hover {
    background-color: #f2f2f2;
}
.debit {
    color: red;
}

.credit {
    color: green;
}

#login {
    margin-top: 30px;
}
input[type="password"] {
    border: 2px solid #003366;
    padding: 8px;
}
button {
    padding: 8px 15px;
    border: none;
    background: #003366;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background: #001f4d;
}

footer {
    margin-top: 30px;
    text-align: center;
}